.slow .toggle-group {
    transition: left 0.7s;
    -webkit-transition: left 0.7s;
}

label {
    padding-top: 10px;
}

#mapsToggle{
    padding: 15px;
}
#mapsToggle label {
    padding: 10px;
}
hr {
    margin-top: 40px;
    margin-bottom: 40px;
}
#saveButton{
    padding-top: 15px;
}

#courseMap{
    padding-top: 20px;
    height: 200px;
}
#summary{
}

.well {
    margin-bottom: 0px;
}

.dropdown-item {
    cursor: pointer;
}

.map {
    height: 370px;
    margin-top: 15px;
}
.card h3 {
    margin-top: 10px;
}
.card h2{
    margin-top: 10px;
}

.small-icon {
    max-height: 40px;
}

#findingLocation{
    padding-left: 30px;
    padding-right: 30px;
}
#courseInfo{

}
#courseName{
    font-family: 'Lobster Two', cursive;
    font-size: 28px;
}
#weatherDescription{
    font-family: 'Alegreya', serif;
    font-size: 20px;
}
.card{
    margin-bottom: 2px;
    font-family: 'Alegreya', serif;
    font-size: 200%;
    border-width: 2px;
    border-style: solid;
    margin: 2px;
    font-size: 15px;
    padding: 20px;
    border-radius: 25px;
    border-color: #4CAF50
}
.parYards {
    border-width: 2px;
    border-style: solid;
    border-radius: 50px;
    border-color: #4CAF50;
    padding-right: 10px;
    padding-left: 10px;

}

#summary{padding-top: 15px;}

.topMenu{
    /*padding: 10px 10px;*/
}
.col-centered{
    float: none;
    margin: 0 auto;
}